<div class="card flex justify-content-center">
  <p-dialog header="Adivinar la bandera" [(visible)]="mostrarDialogoEmpezar" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [maximizable]="true" [resizable]="false">
    <p>
      El juego consiste en adivinar el país al que pertenece la bandera mostrada.
    </p>
    <p>
      ¿Quieres jugar?
    </p>
    <p-button (click)="mostrarBanderas()" label="Empezar" icon="pi pi-flag-fill" ></p-button>
  </p-dialog>
</div>

<div  class="card flex justify-content-center">
  <p-card [hidden]="mostrarDialogoEmpezar" header="Advanced Card" subheader="Card Subheader" [style]="{ width: '60rem' }">
    <ng-template pTemplate="header">
      <img alt="tarjeta de una bandera aleatoria" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>Puntos: <span class="">{{puntos}}</span></p>

    <ng-template pTemplate="footer">
    <div class="grid">
      <div class="col-6">
        <p-button label="boton1" (click)="empezarBanderas()"></p-button>
      </div>
      <div class="col-6">
        <p-button label="boton2" (click)="empezarBanderas()"></p-button>
      </div>
      <div class="col-6">
        <p-button label="boton3" (click)="empezarBanderas()"></p-button>
      </div>
      <div class="col-6">
        <p-button label="boton4" (click)="empezarBanderas()"></p-button>
      </div>
    </div>

    </ng-template>
  </p-card>
</div>
